@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Advent Pro", sans-serif;
$font-tertiary: "Raleway", sans-serif;

$color-text-main: #777;
$color-text-heading: #333;
$color-link: #608dfd;
$color-text-alt: #555;
$color-gray-light: #f6f6f6;

$color-accent-green: #1e7a46;
$color-black: #000;
$color-blue: #608dfd;
$color-border: #999;
$color-danger: #cc0033;
$color-dark: #333;
$color-gray-bg: #e5e5e5;
$color-gray-dark: #444;
$color-gray-mid: #888;
$color-gray: #777;
$color-light: #f6f6f6;
$color-white: #fff;

$gradient-accent: linear-gradient(to right, #428ea2, #53b3cbff);
$gradient-accent-reverse: linear-gradient(to right, #53b3cbff, #428ea2);
